.memes {
    min-width: 300px;

    // mobile
    @media only screen and (max-width: 500px) {
        width: 100%;
        margin: 0 auto;

        &-backtop {
            bottom: 20px !important;
            right: 20px !important;
        }
    }

    // desktop
    @media only screen and (min-width: 500px) {
        //margin: 0 25vw 20px;
    }

    &-backtop > .ant-back-top-content {
        background-color: rgba(0, 128, 128, 0.7) !important;
    }
}