.floating-button-mobile {
    z-index: 5;
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 60px !important;
    width: 60px !important;
}

.floating-button-web {
    z-index: 5;
    position: fixed;
    bottom: 40px;
    right: 40px;
    height: 60px !important;
    width: 60px !important;
}