@font-face {
    font-family: 'Memeory';
    src: local('Memeory Regular'), local('Memeory-Regular'), url(./fonts/Ubuntu-Regular.ttf) format('ttf');
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

body * {
    font-family: "Memeory", sans-serif;
}