.meme {
    text-align: left;
    background-color: rgba(26, 26, 27, 1);
    color: white;
    border-radius: 10px;
    margin: 30px auto 0;
    max-width: 700px;

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;

        &-channel {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 10px;
            height: 30px;

            &-name {
                font-size: 12px;
            }

            &-ago {
                font-size: 10px;
                color: grey;
            }
        }
    }

    &-caption {
        padding: 0 10px 10px;
        margin-top: 10px;
    }

    &-attachment {
        color: white;
    }
}
