.header {

    @media only screen and (min-width: 800px) {
        position: fixed;
    }

    @media only screen and (max-width: 800px) {
        position: absolute;
    }

    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(26, 26, 27, 1);
    z-index: 1;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0 20px;

    &-main {
        cursor: pointer;
        font-size: 20px;
    }

    &-user {
        font-size: 16px;
    }
}