@import "../../common/styles/global-consts.scss";

.provider-tabs {
    position: absolute;
    top: 15vh;
    width: 100vw;

    @media only screen and (min-width: $screen-mobile-limit) {
        display: none;
    }

    @media only screen and (max-width: $screen-mobile-limit) {
        display: block;
    }
}