.provider-tabs {
    position: absolute;
    top: 15vh;

    @media only screen and (min-width: 800px) {
        display: none;
    }

    @media only screen and (max-width: 800px) {
        display: block;
    }

    .am-tabs-default-bar {
        background: rgba(26, 26, 27, 1) !important;
        cursor: pointer;
    }

    .am-tabs-default-bar-nextpage,
    .am-tabs-default-bar-prevpage {
        background: none !important;
    }
}