.topic-tabs {
    position: absolute;
    top: 8vh;

    .am-tabs-default-bar {
        background: rgba(26, 26, 27, 1) !important;
        cursor: pointer;
    }

    .am-tabs-default-bar-nextpage,
    .am-tabs-default-bar-prevpage {
        background: none !important;
    }
}